{% extends 'web/team/layout_team.html.twig' %}

{% block team_body %}
    <div class="col">
        <div class="row">
            <div class="col-12 text-center pb-2">
                <span>Are you sure you want to delete {{ achievement.title }} ({{ achievement|cost }})?</span>
            </div>
            <div class="col-12 text-center">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
