{% extends 'web/team/layout_team.html.twig' %}

{% block team_body %}
    <div class="col">
        <h2 class="team-show-title">
            Session: {{ session.createdAt|date('d/m/Y') }}
        </h2>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="hstack gap-2">
                    <h5 class="card-title">Games</h5>
                    <div class="ms-auto">
                        <a href="{{ path('teams_create_session_game', {'teamId': team.id, 'sessionId': session.id}) }}" class="btn btn-primary">
                            New
                        </a>
                    </div>
                </div>
                <div style="max-height: 400px; overflow-y: auto;">
                    {{ turboFrame(
                        '_frame_session_games_list',
                        path('_frame_session_games_list', {'teamId': team.id, 'sessionId': session.id})
                    ) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Members</h5>
                {{ turboFrame(
                    '_frame_session_members_list',
                    path('_frame_session_members_list', {'teamId': team.id, 'sessionId': session.id})
                ) }}
            </div>
        </div>
    </div>
{% endblock %}
