<div class="table-responsive">
    <table class="table">
        <thead class="text-primary">
        <tr>
            <th>Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.createdAt|date('d/m/Y') }}</td>
                <td>{{ renderComponentBadge(session.status) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>