@import "~bootstrap/scss/bootstrap";
@import "./bootstrap-theme";

// Global
$theme-containers-padding-top: 60px;
$theme-containers-border-radius: 5px;

a.no-decoration-link {
  color: inherit;
  text-decoration: none;
}

// Main Panel
.main-panel-container {
  border-top: 2px solid #42b883;
  position: relative;
  float: right;
  width: 100%;
  min-height: 100vh;

  .main-navbar {
    position: absolute;
    z-index: 1050;
    width: 100%;
    padding-top: 16px;

    .navbar-wrapper {
      display: flex;
      align-items: center;

      .navbar-title {
        color: white;
        padding-left: 5px;

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }

    .navbar-toggler {
      right: 18px;
    }
  }

  .main-content-wrapper {
    min-height: calc(100vh - 70px);
    padding-top: $theme-containers-padding-top;

    .main-content {
    }
  }
}

// Sidebar
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: $theme-containers-padding-top 0 0; /* Height of navbar */
  margin-left: 16px;

  @include media-breakpoint-down(md) {
    width: calc(100vw - 35px);
  }

  .sidebar-content-wrapper {
    padding: 16px;
    border-radius: $theme-containers-border-radius;
    height: calc(100vh - 90px);
    background: linear-gradient(0deg,#389466,#42b883);

    .nav-main {
      @include media-breakpoint-down(md) {
        align-content: center;
      }
    }

    .nav-link {
      display: flex;
      color: white;

      .sidebar-item-icon {
        align-self: center;
      }

      .sidebar-item-text {
        align-self: center;
        margin-left: 5px;
      }
    }
  }
}

// Session floating button
.session-floating-button-container {
  position: fixed;
  bottom: 30px;
  right: 16px;
  z-index: 1000;

  .btn-circle {
    width: 60px;
    height: 60px;
    padding: 13px 18px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
  }
}

// Session achievement assign
.photo-container {
  .photo {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }
}

// TurboFrame
.frame-loader-container {
  width: 100%;
  text-align: center;
}
