{% extends 'web/turboFrame/base_turbo_frame.html.twig' %}

{% block frameContent %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for teamMember in teamMembers %}
            <div class="col">
                <div class="card h-100 card-team">
                    <a href="{{ path('teams_show', {'teamId': teamMember.team.id}) }}" class="card-team-link">
                        <div class="card-header">
                            <h2 class="card-title">{{ teamMember.team.title }}</h2>
                        </div>
                        <div class="card-footer text-end">
                            <small>Balance: {{ teamMember|balance }}</small>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
