{% extends 'web/turboFrame/team/base_show.html.twig' %}

{% block showTeamContent %}
<div class="col">
    <div class="card">
        <div class="card-body text-center">
            <p>Are you sure you want to create a new session?</p>

            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}
