{% extends 'web/turboFrame/team/base_show.html.twig' %}

{% block showTeamContent %}
    <div class="col">
        <div class="card">
            <div class="card-body text-end">
                <a href="{{ path('teams_create_session', {'teamId': team.id}) }}" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    New Session
                </a>
{#                <a href="{{ path('teams_create_team_invite', {'teamId': team.id}) }}" class="btn btn-primary">#}
{#                    <i class="fa fa-person"></i>#}
{#                    Invite Someone#}
{#                </a>#}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                {# TODO: Create a render component function for nav-pills #}
                <ul class="nav nav-pills nav-pills-primary" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-sessions-tab" data-bs-toggle="pill" data-bs-target="#pills-sessions" type="button" role="tab" aria-controls="pills-sessions" aria-selected="true">Sessions</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-members-tab" data-bs-toggle="pill" data-bs-target="#pills-members" type="button" role="tab" aria-controls="pills-members" aria-selected="false">Members</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-invites-tab" data-bs-toggle="pill" data-bs-target="#pills-invites" type="button" role="tab" aria-controls="pills-invites" aria-selected="false">Invites</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent" style="padding-top: 16px">
                    <div class="tab-pane fade show active" id="pills-sessions" role="tabpanel" aria-labelledby="pills-sessions-tab" tabindex="0">
                        {% include 'web/include/team/sessions_list.html.twig' %}
                    </div>
                    <div class="tab-pane fade" id="pills-members" role="tabpanel" aria-labelledby="pills-members-tab" tabindex="0">
                        {% include 'web/include/team/teamMembers_list.html.twig' %}
                    </div>
                    <div class="tab-pane fade" id="pills-invites" role="tabpanel" aria-labelledby="pills-invites-tab" tabindex="0">
                        {% include 'web/include/team/teamInvites_list.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
